/* 全体の要素 */
html {
    color: #000;
    background-color: #fff;
    font-family: "Noto Sans Japanese",sans-serif;
}
body {
    width: 100%;
}


#camera img {
    width: 100%;
}
.title {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
}
#About img {
    border-radius: 100%;
}
.name {
    font-size: 24px;
}
.jikosyoukai ul {
    font-size: 18px;
}
footer {
    text-align: center;
}


/* PC用のスタイル */
@media screen and (min-width:768px) {
    header {
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }
    header a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }
    .midashi {
        border: solid 1px;
        font-size: 34px;
        padding: 10px;
    }
    .MyProfile {
        margin-left: 100px;
        padding: 10px;
    }
    .navi {
        margin-right: 100px;
        margin-top: 40px;
        font-size: 34px;
    }
    #About div {
        display: flex;
        justify-content: center;
        margin: 20px;
    }
    #About .jikosyoukai {
        display: block;
    }
    
    /* worksのスタイル */
    #works {
        width: 100%;
    }
    .works-1 {
        display: flex;
        margin: 100px;
    } 
    .works-1 div {
        width: 33%;
        text-align: left;
        margin: 10px;
    }
    .works-1 div img {
        width: 100%;
        height: auto;
    }
    .works-1 div p {
        word-wrap: break-word;
        margin: 0;
        padding: 0;
    }
}

/* スマホ用スタイル */
@media screen and (max-width:767px) {
    header {
        display: flex;
        justify-content: center;
    }
    header a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }
    .midashi {
        border: solid 1px;
        font-size: 14px;
        padding: 1px ;
    }
    .MyProfile {
        margin-right: 50px;
        padding: 0px;
    }
    .navi {
        margin-right: 10px;
        margin-top: 10px;
        font-size: 14px;
    }

   #About {
    width: 100%;
   }
    .about1 {
        display: block;
        width: 100%;
    }

    #About div img {
        display: block;
        justify-content: center;
        margin: auto;
    }
    .jikosyoukai {
        display: block;
        margin: 50px;
    }
    #Works {
        width: 100%;
    }
    #Works .works-1 {
        width: 100%;
    }
    #Works .works-1 div {
        margin: 40px auto;
    }
    #Works .works-1 img {
        width: 100%;
        margin: auto;
        height: auto;
    }
    #Works .works-1 p {
        text-align: center;
    }

}
